body {
    font-family: sans-serif;
    background-color: #ddd;
    font-size: 30px;
    margin: 40px;
    color: #333;
    line-height: 30px;
  }
  
  .light {
    color: #666;
  }
  
  .text-in {
    font-size: 30px;
    margin-top: 30px;
    width: 200px;
    padding: 8px;
    border: none;
  }
  
  #text-glsl {
    width: 400px;
  }
  